<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="event-highlight" on-no-longer-hidden="{{updateData}}">
  <template>
    <link rel="stylesheet" href="/assets/css/gtv.css">
    <core-ajax id="events" url="/admin/events.json" params="{{ params }}" on-core-response="{{handleResponse}}" ></core-ajax>
    <section class="container" style="position: relative">

      <div class="gtv_img_container">
        <center>
          <img src="/admin{{events[eventsIndex].image.url}}" alt="Event Image" class="gtv-event-highlight" id="main_image"/>
        </center>
      </div>

      <div class="gtv-highlight-footer">
        <center>
          <h3>{{events[eventsIndex] | dateString }}</h3>
        </center>
      </div>
    </section>
  </template>

  <script>
    Polymer('event-highlight', {
      ready: function(){
        var self = this;
        self.params = { limit: 12 }
        self.updateData();
        self.eventsIndex = 0;
      },
      handleResponse: function(event) {
        this.events = _.filter(event.detail.response, this.imageEvent);
        this.eventsIndex = (this.eventsIndex + 1) % this.events.length;
      },
      updateData: function(){
        this.$.events.go();
      },
      dateString: function(event) {
        if(event) {
          return moment(event.start_date).format('MMMM D, h:mm a') + ' @ ' + event.location;
        } else {
          return "";
        }
      },
      imageEvent: function(event) {
        return event.image && event.image.url && event.image.url.length > 0;
      },
    });
  </script>
</polymer-element>
