<h4>Governing Documents</h4>
<div class="sidebar_padding">
  <a href="/governing-docs/constitution">Constitution</a>
  <br>
  <a href="/governing-docs/primary-officers-policy">Primary Officers' Policy</a>
</div>
<br>
<p>Our constitution and primary officers' policy are located on
<a href="https://github.com/rit-sse/governing-docs">Github</a>.
If you would like to make an amendment, just make a pull request.</p>

<script>
  $(document).ready(function(){
    $('table').addClass('table table-striped table-bordered');
  });
</script>