<h3>Upcoming Events</h3>
<div id="eventshighlight">
  <a href="/events/257" title="Society of Software Engineers Weekly Meeting">SSE Meeting</a>
  <p>2/21  5 -  6 pm</p>
  <a href="/events/284" title="Ins and Outs of Metaprogramming in Ruby">Tech Talk: Metaprogramming in Ruby</a>
  <p>2/21  5:45 -  6:30 pm</p>
  <a href="/events/261" title="Practice your technical interviewing skills in a comfortable, friendly environment">Mock Interview Day</a>
  <p>2/22 12 -  5 pm</p>
  <a href="/events/276" title="">CS 2 Exam 1 Review Session</a>
  <p>2/23  2 -  4 pm</p>
  <a href="/events/258" title="">Intuit Visit</a>
  <p>2/24  6:30 -  7:30 pm</p>
</div>