<meta charset="utf-8" />

<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

<link href="/assets/css/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/assets/js/application.js"></script>
<script type="text/javascript" src="/assets/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/assets/bower_components/handlebars/handlebars.runtime.min.js"></script>
<script type="text/javascript" src="/assets/bower_components/history/scripts/bundled/html5/jquery.history.js"></script>
<script type="text/javascript" src="/assets/js/handlebars/events.js"></script>
<script type="text/javascript" src="/assets/js/handlebars/event.js"></script>
<script type="text/javascript" src="/assets/js/handlebars/upcoming.js"></script>
<script type="text/javascript" src="/assets/js/events.js"></script>
<meta name="msapplication-TileImage" content="assets/images/windows-tile.png"/>
<meta name="msapplication-TileColor" content="#035887" />
