<div id="top_nav_wrapper">
  <div id="top_nav">
    <a href="/">
      <img alt="Society of Software Engineers" id="logo" src="/assets/images/logo-white.png" />
    </a>
    <div id="nav_links">
      <a href="/committees/events">EVENTS</a>
      <a href="/committees/projects">PROJECTS</a>
      <ul>
        <li class="dropdown" id="committees-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT <b class='caret'></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About the SSE</a></li>
            <li><a href="/about/officers">Officers</a></li>
            <li class="divider"></li>
            <li><a href="/committees/mentoring">Mentoring</a></li>
            <li><a href="/committees/projects">Projects</a></li>
            <li><a href="/committees/fundraising">Fundraising</a></li>
            <li><a href="/committees/intramurals">Intramurals</a></li>
            <li><a href="/committees/pr">Public Relations</a></li>
            <li><a href="/committees/vise">ViSE</a></li>
            <li class="divider"></li>
            <li><a href="/committess/talks">Talks</a></li>
            <li><a href="/committess/crash-courses">Crash Courses</a></li>
            <li class="divider"></li>
            <li><a href="/about/sponsors">Sponsors</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>