<h3>Posts</h3>
{% for post in site.posts %}
  {% unless post.next %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
    <a data-toggle="collapse" href="#{{year}}" onclick="toggle(this);"><i class="fa fa-angle-down"> {{year}}</i></a>
    <div class="collapse in" id="{{year}}">
      <ul class="list-style-none">
        <li><a data-toggle="collapse" href="#{{year}}-{{month}}" onclick="toggle(this);"><i class="fa fa-angle-down"> {{month}}</i></a>
          <div class="collapse in" id="{{year}}-{{month}}">
            <ul class="list-style-none">
              <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% else %}
    {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if month != nmonth and year == nyear %}
      </ul>
      </div>
      </li>
      </ul>
      <ul class="list-style-none">
        <li><a data-toggle="collapse" href="#{{year}}-{{month}}" onclick="toggle(this);"><i class="fa fa-angle-right"> {{month}}</i></a>
          <div class="collapse" id="{{year}}-{{month}}">
            <ul class="list-style-none">
              <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% elsif year != nyear %}
      </ul>
      </div>
      </li>
      </ul>
      </div>
      <a data-toggle="collapse" href="#{{year}}" onclick="toggle(this);"><i class="fa fa-angle-right"> {{year}}</i></a>
      <div class="collapse" id="{{year}}">
        <ul class="list-style-none">
          <li><a data-toggle="collapse" href="#{{year}}-{{month}}" onclick="toggle(this);"><i class="fa fa-angle-right"> {{month}}</i></a>
            <div class="collapse" id="{{year}}-{{month}}">
              <ul class="list-style-none">
                <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% else %}
      <li><a href="{{post.url}}">{{post.title}}</a></li>
    {% endif %}
  {% endunless %}
{% endfor %}
{% if site.posts.size > 0 %}
  </ul>
  </div>
  </li>
  </ul>
  </div>
{% endif %}