<h1>{{name}}</h1>
<div class="public_show_entry">
  <h3>What?</h3>
  {{ checkEmpty description "There is no description at this time."}}
</div>

<div class="public_show_entry">
  <h3>When?</h3>
  {{formatDateRange startDate endDate}}
</div>

<div class="public_show_entry">
  <h3>Where?</h3>
  {{checkEmpty location "The location for this event was not entered"}}
</div>
