
// site vars

$width: 940px;
$std-margin: 25px;

@import "_variables";
@import "bootstrap";

// bootstrap radius overrides
.btn-group {
  .btn:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .btn:last-child, .dropdown-toggle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

// mixins

@mixin horiz-center {
  width: $width;
  margin: 0 auto;
}

@import "mixins";


h1, h2, h3, h4, h5, h6 {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

// page element styles

#top_nav_wrapper {
  height: 102px;
  background: url("/assets/images/nav-bg.png") repeat-x;
  border-bottom: 1px solid #333;

  #top_nav {
    @include horiz-center;

    #logo {
      float: left;
      margin: 22px 0 0 0;
    }

    #nav_links {
      float: right;
      margin: 35px 0 0 0;

      & > ul {
        display: inline-block;
        list-style-type: none;

        & + a, & + ul {
          margin-left: 12px;
        }
      }

      & > a {
        & + ul {
          margin-left: 20px;
        }
      }

      .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
        background: #0473b2;
      }

      & > a, & .dropdown > a {
        @include transition(300ms all);
        display: inline-block;
        color: #9ab7c7;
        padding: 7px;

        &:hover, &.active {
          @include transition(300ms all);
          color: #fff;
          text-shadow: 1px 1px 0 #333;
        }

        & + a {
          margin-left: 20px;
        }

        &.login {
          color: #fff;
          background: rgba(0, 0, 0, .25);

          &:hover {
            background: rgba(0, 0, 0, .45);
          }
        }
      }

      & .dropdown > a {
        padding: 7px 5px 7px 7px;
      }
    }
  }
}

#header_wrapper {
  background: url("/assets/images/header-bg.png") repeat-x;

  #header {
    @include horiz-center;
    height: 300px;

    background: url("/assets/images/header-bg-center.png") center center;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
      text-shadow: 1px 1px 2px #333;
    }

    p  {
      color: #fff;
      text-shadow: 1px 1px 2px #333;
    }

    a {
      color: #ffe;
      text-shadow: 1px 1px 2px #111;
      text-decoration: underline;
    }

    a:hover {
      color: #ffa;
    }

    img.big_image {
      float: left;
      margin-right: $std-margin;
    }

    .orbit-wrapper {
      margin: 0 auto;

      .content {
        width: 940px;
        height: 300px;

        h1, h2, h3, h4, h5, h6 {
          text-align: center;
          margin-top: 5 * $std-margin;
        }
      }
    }
    
    .item {
      width: 940px;
      height: 300px;
    }
      
    #fallwelcome {
      .left {
        width: 55%;
        height: 50%;
        float: left;
        text-align: center;
        padding-top: 16px;

        img {
          box-shadow: 0 0 5px #444;
        }
      }

      .right {
        width: 45%;
        float: right;
      }
    }

  }
}

#content_wrapper {
  @include horiz-center;
  margin-top: $std-margin;
  margin-bottom: $std-margin;

  color: #555;

  div, p {
    // text-shadow: 0px 1px 1px #999;
  }

  #content_left {
    float: left;
    width: 630px;
    padding-right: 25px;
    border-right: 1px solid #ccc;
  }

  #content_right {
    float: right;
    width: 250px;
    font-size: 12px;

    .sidebar_padding {
      padding-top: 1.0em;
    }
  }
}

#footer {
  @include horiz-center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #aaa;
}


// classes

.clear { clear: both; }
.none { display: none; }

.float-left { float: left; }
.float-right { float: right; }

.ace {
  @include box-sizing(border-box);
  //width: $width;
  height: 325px;
  margin: 5px 0 15px;
  border: 1px solid #bbb;
  position: relative !important;
}

.flash {
  margin: 0 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #eee;
}

.edit-list {

  .list-item {
    padding: 7px;
    height: 26px;

    &:nth-child(odd) {
      background: #eee;
    }

    &:hover {
      background: #ddd;

      .edit-links {
        display: inherit;
      }
    }

    .list-title {
      font-size: 19px;
      float: left;
    }

    .edit-links {
      font-size: 12px;
      float: right;
      display: none;

      a {
        display: inline-block;
        margin-left: 10px;

        &:first-child { margin-left: 0; }
      }
    }
  }

  .list-label{
    font-weight:bold;
    font-size:22px;
    color:black;
    padding-top:20px;
    padding-bottom:5px;

    &:first-child{
      padding-top:0px;
    }
  }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color:#FAFAFA !important;
}

.markdown_preview {
    padding-left: $std-margin;
    padding-right: $std-margin;
    margin-bottom: $std-margin;
    border: 1px solid #ccc;
    background-color: #FAFAFA;
}

/* .ace {
  width: $width;
  background-color: #FAFAFA;
} */

/*These could look better... without the stupid background; so let's remove it*/
.carousel-control {
    background: none !important;
    border: none !important;
    border-radius: none !important;
    color: white;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}

.form-horizontal{
  .control-label{
    width: 120px;
  }

  .controls{
    margin-left: 140px;
  }
}

.event_form{
  .input-xlarge{
    width:400px
  }
}

.list-style-none{
  list-style-type: none;
}
