---
layout: default
sidebars:
  - _post_sidebar.html
  - _events.html
---

{% for post in paginator.posts %}
  <h2 class="muted">{{ post.date | date: "%B %d, %Y" }}</h2>
  <h1>{{ post.title }}</h1>
  {{ post.content | split:'<!--more-->' | first }}
   {% if post.content contains '<!--more-->' %}
      <div class="pull-right"><a href="{{ post.url }}">Read more</a></div>
   {% endif %}
   <br>
   <hr>
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
    </li>
  {% else %}
    <li class="previous disabled">
      <a href="#">&larr; Newer</a>
    </li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr; Older</a>
    </li>
  {% else %}
    <li class="next disabled">
      <a href="#">&rarr; Older</a>
    </li>
  {% endif %}
</ul>