<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
<body>
  <div id="outer_container">
    {% include _nav.html %}
    {% if page.show_header %}
      {% include _header.html %}
    {% endif %}
  </div>
  <div id="content_wrapper">
    {% if page.sidebars %}
      <div id="content_left">
        {{ content }}
      </div>
      <div id="content_right">
        {% for sidebar in page.sidebars %}
          {% include {{sidebar}} %}
        {% endfor %}
      </div>
    {% else %}
      {{ content }}
    {% endif %}
    <div class="clear"></div>
  </div>
    <!-- END EVENTS -->
  <div id="footer">

    All content is Copyright &copy; 20{{ site.time | date: '%y' }} Society of Software Engineers.

  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28899218-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
