<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
<body>
  <div class="header">
    <div class="header-inner">
      <img alt="Society of Software Engineers" id="logo" class="logo" src="/assets/images/logo-white.png">

      {% include _nav.html %}
    </div>
  </div>

  <div class="main">
    <div class="content">
      {{ content }}
    </div>
    
    {% if page.sidebars %}
      <div class="sidebar">    
        {% for sidebar in page.sidebars %}
          {% include {{sidebar}} %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="footer-container">
    <footer>
      <div class="footer-inner">
        <div class="footer-columns">
          <div class="footer-column">
            <p class="footer-column-heading">Governing Documents</p>
            <ul>
              <li><a href="/constitution">Constitution</a></li>
              <li><a href="/primary-officers-policy">Primary Officers' Policy</a></li>
            </ul>
          </div>
        </div>

        <p class="footer-muted">All content is Copyright © 2014 Society of Software Engineers.</p>
      </div>
    </footer>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28899218-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
